name: Deploy Production

on: [push]

jobs:
  deploy:
    name: Deploy to VPS
    runs-on: ubuntu-latest
    steps:
      - name: Connect and Update
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USERNAME }}
          key: ${{ secrets.VPS_SSH_KEY }}
          port: 22
          script: |
            cd /www/wwwroot/DrX
            echo "1. Baixando codigo..."
            git fetch --all
            git reset --hard origin/main
            
            echo "2. Instalando..."
            npm install
            
            echo "3. Gerando Banco..."
            npx turbo run db:generate
            
            echo "4. Build..."
            npm run build
            
            echo "5. Reiniciando..."
            pm2 restart all
