name: Deploy DR.X Production

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USERNAME }}
          key: ${{ secrets.VPS_SSH_KEY }}
          port: 22
          script: |
            # 1. Entrar na pasta do projeto
            cd /www/wwwroot/DrX
            
            # 2. Garantir que temos a versão mais recente
            git fetch --all
            git reset --hard origin/main
            
            # 3. Instalar dependências e atualizar o banco
            npm install
            npx turbo run db:generate
            
            # 4. Construir o projeto (Build)
            npm run build
            
            # 5. Reiniciar o sistema
            pm2 restart all
            echo "✅ Deploy Automatizado com Sucesso!"
